.ipynb_checkpoints
.ipynb_*

/datasets

/Mysql/mysql/
/Mysql/pgadmin/
/Mysql/potgres/
/Mysql/.ipynb_checkpoints/
07-Python/geckodriver.log
07-Python/contents/
*.log
07-Python/.vscode/settings.json
07-Python/.vscode/settings.json
